[Desktop Entry]
Comment[pl]=
Comment=
GenericName[pl]=
GenericName=
MimeType=
Name[pl]=XHipermarket
Name=XHipermarket
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Exec=/home/sklep/.qhmxhost
Exec=/usr/local/sklep/bin/qhipermarket
Icon=/home/sklep/.cubes.png
